div.display{
	border: 2px solid black;
	height: 550px;
	width: 550px;
	margin-left: 250px;
	margin-right: 250px;
}

div.menu{
	display: flex;
	margin-left: 250px;
	width: 550px;
	height: 30px;
	justify-content: space-around;
}

div.circle{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 1;
}

button.btn{
	width: 130px;
	height: 30px;
	text-align: center;
	float: left;
	margin: auto;
	font-size: 12px;
}